.title-box {
  margin: 20px;
  width: 100%;
  display: inline-block;
  justify-content: center;
}
.checkout-container {
  justify-content: center;
  flex-wrap: wrap;
}

.products-box {
}
.shipping-box {
  display: inline-block;
  background-color: #fff;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 50px 15px;
  margin: 50px 0;
}
.shipping-box label {
  font-size: 17px;
  font-weight: bold;
}
.shipping-box form {
  margin: 20px 0;
}
.shipping-box form button {
  background-color: #2b2a2a;
  color: #fff;
  padding: 5px 15px;
}

.form-fields{
  text-align: left;
  margin:10px 0;
}
.error{
  color:red;
}

@media (max-width:768px){
  .shipping-box{
    width: 100%;
  }
}