html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button{
  font-size: 14px;
  border:1px solid #ddd;
  border-radius: 15px;
  background-color: #4d4d4d;
  padding :2px 15px 3px 15px;
  color: #ddd;
}
select{
  width: 100%;
  outline: none !important;
  border: 1px solid #ddd;
}
input{
  border: 1px solid #ddd;
  outline: none !important;
  min-width: 350px;
  padding:10px;
  margin:5px 0;
}

@media (max-width:768px){
  input{
    width: 100%;
  }
}