.product-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
}
.product-label {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  margin: 0 0 10px 0;
}

@media(max-width:767px){
  .product-container{
    justify-content: center;
  }
}