.layout {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "nav" "main" "footer";
  width: 100%;
}
.layout-wrapper {
  display: flex;
  justify-content: center;
}
.layout nav {
  grid-area: nav;
  background-color: #2b2a2a;
  min-height: 40px;
  padding: 10px 0;
}
.logo-image {
  margin: 30px 0;
  padding: 0 10px;
  cursor: pointer;
  display: inline;
}
.layout nav ul {
  margin: 0;
  padding: 3px 0 0 0;
  display: inline;
  float: right;
  list-style: none;
}
.layout nav ul li {
  display: inline;
  margin: 0 10px;
  color: #ddd;
}
.layout main {
  grid-area: main;
  min-height: 90vh;
  background-color: #f4f4f4;
}
.layout footer {
  grid-area: footer;
  background-color: #2b2a2a;
  color: #ddd;
  text-align: center;
  min-height: 50px;
  padding: 15px 0;
}
@media(max-width:768px){
  .layout nav{
    overflow:auto;
    white-space: nowrap;
  }
}