.product-detail-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.product-detail {
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 15px;
  padding: 20px;
  width: 900px;
}
.image-box {
  max-width: 100%;
}
.details-box button {
  outline: none !important;
  border: 1px solid #ddd;
  border-radius: 25px;
  margin: 20px 0 10px 0;
  cursor: pointer;
}
.details-box label {
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
}
.details-box p {
  padding: 10px 0;
}
